.login-page,
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  padding: 50px 70px;
  margin-bottom: 10px;
  justify-content: center;
  gap: 10px;
  background-color: rgb(210, 232, 255);
  border-radius: 8px;
  border: 1px solid rgb(136, 193, 255);
}
.login-form h1,
.signup-page h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.login-form label,
.signup-form label {
  font-weight: 600;
}
.login-form input,
.signup-form input {
  outline: none;
  width: 250px;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}
.login-form input:focus,
.signup-form input:focus {
  outline: none;
  border: 1px solid rgb(125, 125, 125);
}

.signup-form .button.signup-button {
  background-color: var(--secondary-color);
  color: white;
  border: 2px solid var(--secondary-color);
}
.error {
  background-color: rgba(254, 191, 191, 0.674);
  color: red;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.loading {
  background-color: rgba(180, 211, 255, 0.719);
  color: blue;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: rgb(210, 232, 255);
}

.header .team-name {
  font-weight: 900;
  color: var(--primary-color);
  font-size: 24px;
}

.header .team-name:hover {
  cursor: pointer;
}

.header-state {
  display: flex;
  gap: 20px;
}

.button {
  text-align: center;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid var(--secondary-color);
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button.signup-button,
.button.logout-button {
  background-color: white;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.button:focus {
  outline: none;
}
.button:active {
  opacity: 0.6;
}

.header-state .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.header-state .welcome span strong {
  font-size: 20px;
}

.pages {
  padding-top: 20px;
}
